.download {
    padding: 78px 0;
}
.containet {
    max-width: 1170px;
}
.wrapper_download {
    margin: auto;
}
.info_download {
    margin-bottom: 76px;
    
}
.ready_start {
    color: #000;
    text-align: center;
    font-family: "Raleway";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
}
.text_download {
    color: #000;
    text-align: center;
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;    
}


