.download {
    padding: 100px 0 142px;
}
.containet {
    max-width: 1170px;
}
.wrapper_download {
    margin: auto;
}
.info_download {
    margin-bottom: 76px;
}
.ready_start {
    color: #000;
    text-align: center;
    font-family: "Raleway";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
    @media (max-width: 1024px) {
        font-size: 24px;
    }
    @media (max-width: 320px) {
        font-size: 18px;
    }
}
.text_download {
    color: #000;
    text-align: center;
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase; 
    @media (max-width: 1024px) {
        font-size: 14px;
    }
    @media (max-width: 320px) {
        font-size: 13px;
    }   
}
.button_download {
    @media (max-width: 1024px) {
        font-size: 18px;
    }
    @media (max-width: 320px) {
        font-size: 18px;
    }
}
