.features {
    padding: 116px 0;
}
.wrapper {
    
    margin: 0 -15px;
   
}
.wrapp_top {
    display: flex;
    margin-bottom: 88px;
} 
.wrapp_bottom {
    display: flex;
}
.card {
    width: 370px;
    margin: 0 15px;

}
.icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 53px;
    @media (max-width: 1024px) {
        width: 85px;
        height: 85px;
        margin: 0 auto 48px;
    
    }
    @media (max-width: 320px) {
        width: 75px;
        height: 75px;
        margin: 0 auto 45px;
    
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.card_name {
    text-align: center;
    margin-bottom: 50px;
    color: #2D3033;
    font-family: "Raleway";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase; 
    @media (max-width: 1024px) {
        font-size: 18px;
    
    }
    @media (max-width: 320px) {
        font-size: 18px;
    
    }   
}
.card_text {
    text-align: center;
    color: #6C7279;
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    @media (max-width: 1024px) {
        font-size: 14px;
    
    }
    @media (max-width: 320px) {
        font-size: 14px;
    
    }   
}
