.footer {
    background: #2C3154;
    padding: 24px 0;
}
.container {
}
.wrapper_footer {
    width: 370px;

    @media (max-width: 320px) {
        width: 90%;
    
    }  
}
.span_footer {
    color: #808080;
    text-align: center;
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    @media (max-width: 1024px) {
        font-size: 14px;
    
    }
    @media (max-width: 320px) {
        font-size: 14px;
    
    }  

    
}
.text_by {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;    
    @media (max-width: 1024px) {
        font-size: 14px;
    
    }
    @media (max-width: 320px) {
        font-size: 14px;
    
    }  
}