.header {
    background-image: url(../img/photo_header/img_header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    max-width: 1510px;
    margin: auto;

    &:before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(37, 43, 73, 0.8);
    z-index: 1;
   }
}

.wrapper_header {
    display: flex;
    justify-content: space-between;
    padding: 38px 0;
    // margin-bottom: 130px;
    &::after {
        content: " ";
        // border-bottom: 1px solid ;
        background-color: #BABBC5;
        height: 1px;
        width: 1170px;
        margin: 36px 0 130px;
        display: inline-block;
    }

}
.logo {
    color: #656980;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
    font-family: "Raleway";

    .box {
        color: #FFF;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 300;
    }
}

.navigation_header {
}
.navigation_header_menu {
    display: flex;
    
    
}
.navigation_header_menu_item {
    width: 134px;
    padding-bottom: 32px;
    text-align: center;

    &:hover {
        border-bottom: 3px solid #BABBC5;
        
    }
    a {
        color: #FFF;
        text-align: center;
        font-family: "Raleway";
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        padding-bottom: 32px;
    }
}
.main {
    padding-bottom: 120px;

}


h1 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-family: "Raleway";
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 31px;

}
.main_text {
    color: #FFF;
    text-align: center;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 80px;

}

.button {
    text-align: center;
    a {
        color: #FFF;
        font-family: "Raleway";
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
        padding: 32px 93px;   
        background-color: #FF4343; 
        cursor: pointer;       
    }
    
}
