@import "../scss/fonts";
@import "../scss/header";
@import "../scss/features";
@import "../scss/works";
@import "../scss/team";
@import "../scss/testimonaials";
@import "../scss/download";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  max-width: 1510px;
  margin: auto;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  position: relative;
  z-index: 2;
}