@import "../scss/fonts";
@import "../scss/header";
@import "../scss/features";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    position: relative;
    z-index: 2;
}