.social_media {
    background: #353C65;
}
.container {
}
.wrapper_social {
    padding: 71px 0;
    display: flex;
    @media (max-width: 320px) {
        display: block;
    
    }
}
.social_name_icon {
    color: #FFF;
    text-align: center;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 49px;  
    @media (max-width: 1024px) {
        font-size: 14px;
    
    }
    @media (max-width: 320px) {
        font-size: 14px;
    
    }
    .img_social {
        margin: 0;

    }
    .icon_social {
        margin: 0;

    } 
}
.social_item {
    width: 370px;
    margin: 0;
    @media (max-width: 320px) {
        margin-bottom: 69px;
        &:last-child {
            margin-bottom: 0;
        }
        width: 90%;
    }
    .social_name {
        color: #FFF;
        text-align: center;
        font-family: "Raleway";
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;  
        margin-bottom: 29px;   
        @media (max-width: 1024px) {
            font-size: 14px;
        }
        @media (max-width: 320px) {
            font-size: 14px;
        }    
    }
    .social_text {
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        font-family: "Raleway";
        font-size: 18px;
        font-weight: 400;
        text-transform: capitalize;  
        @media (max-width: 1024px) {
            font-size: 14px;
        }
        @media (max-width: 320px) {
            font-size: 14px;
        }  
    }
}
.img_social_item {
    display: flex;
    justify-content: center;
}
.icon_social_item {
    margin: 0 0 0 26px;
}



