.testimonials {
}
.container_slide {
    max-width: 1510px;
    overflow: hidden;
}
.swiper-wrapper { 
}
.swiper { 
    position: relative;

}
.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;
    top: 110%;
    z-index: 10;
}

.swiper-slide {
    display: flex;
    &:nth-child(odd) {
        background: #5C3249;
    }
    &:nth-child(even) {
        background: #353C65;
    }

    @media (max-width: 320px) {
        display: block;
    
    }
}

.photo_slide {
    max-width: 50%;
    height: 490px;
    @media (max-width: 320px) {
        max-width: 100%;
    
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.text_testimonials {
    max-width: 50%;
    height: 490px;

    @media (max-width: 320px) {
        max-width: 100%;
    
    }
}


.text_testimonials_slide {
    max-width: 70%;
    text-align: start;
    display: flex;
    flex-direction: column;
    @media (max-width: 1024px) {
        font-size: 80%;
    
    }
    @media (max-width: 320px) {
        max-width: 90%;
    
    }
    
    
}
.text_slide_first {
    color: #FFF;
    font-family: "Cardo";
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    text-transform: capitalize;  
    margin-bottom: 30px;
    @media (max-width: 1024px) {
        font-size: 24px;
        color: #FFF;
        text-align: center;
        font-family: "Cardo";
        font-size: 24px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }
    @media (max-width: 320px) {
        font-size: 24px;
    
    }
   

}
.text_slide {
    color: #FFF;
    font-family: "Raleway";
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase; 
    margin: 0;
    @media (max-width: 1024px) {
        font-size: 12px;
    
    }
    @media (max-width: 320px) {
        font-size: 12px;
    
    }
       
}
