.wrapper_works_top {
    display: flex;
    @media (max-width: 320px) {
        flex-wrap: wrap;
      
    }
}
.wrapper_works_bottom {
    display: flex;
    @media (max-width: 320px) {
        flex-wrap: wrap;
    }
}
.card_works {
    width: 25%;
    max-height: 340px;
    position: relative;
    @media (max-width: 1024px) {
        max-height: 230px;
    }
    @media (max-width: 320px) {
        width: 50%;
        max-height: 144px;
    }
    // &::after {
    //     content: "";
    //     display: block;
    //     padding-top: 100%;
    //     float: left;
    // }
    
}
.photo_works {
    width: 100%;
    height: 340px;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 1px solid #FFF;
        transition: 0.5s;
        &:hover {
            transform: scale(1.5);
   
        }
        

    }
}
.text_card_works {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
     opacity: 10;
     
     background: rgba(255, 67, 67, 0.60);
     &:active {
        opacity: 10;
        background: rgba(185, 12, 12, 0.80) 
    }
    }
}
.text_name {
    color: #FFF;
    text-align: center;
    font-family: "Raleway";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;  
    margin: 0 0 40px;  
    @media (max-width: 1024px) {
        font-size: 18px;
    }
    @media (max-width: 320px) {
        font-size: 18px;
    }
}
.text_name_card {
    color: #FFF;
    text-align: center;
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    margin: 0; 
    @media (max-width: 1024px) {
        font-size: 14x;
    }
    @media (max-width: 320px) {
        font-size: 14px;
    } 
}



