// .container_works {
//     max-width: 1510px;
//     margin: auto;
// }
// .wrapper_top {
//     display: flex;
// }
// .wrapper_bottom {
//     display: flex;
// }

// .card_works {
//     width: 379px;
//     height: 340px;
//     border: 1px solid #fff;
//     object-fit: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover; 
//     position: relative;



//     .card_works_item {
//         .card_item {
//             a {
//                 .text_name {
//                     opacity: 0;
//                 }
//                 .text_name_card {
//                     opacity: 0;
        
//                     .photo_works {
//                        width: 379px;
//                        height: 340px;
//                        img {
//                         width: 100%;
//                         height: 100%;
//                         object-fit: cover;
//                        }
//                     }
//                 }
//                 }
//                 &:hover {
//                 background: rgba(255, 67, 67, 0.60);
//                 width: 100%;
//                 height: 100%;
//                 position: absolute;
//                 left: 0;
//                 top: 0;
//                 z-index: 1;
//                 a {
//                     display: flex;
//                     align-items: center;
        
//                     .text_name {
//                         opacity: 10;
//                         color: #FFF;
//                         text-align: center;
//                         font-family: "Raleway";
//                         font-size: 24px;
//                         font-weight: 900;
//                         text-transform: uppercase;
//                         position: relative;
//                         z-index: 2;
//                         margin-bottom: 40px;
                      
                    
//                     }
//                     .text_name_card {
//                         opacity: 10;
//                         color: #FFF;
//                         text-align: center;
//                         font-family: "Raleway";
//                         font-size: 18px;
//                         font-style: normal;
//                         font-weight: 400;
//                         line-height: normal;
//                         position: relative;
//                         z-index: 2;
                        
                
//                     }
//                 }
//         }
        
//     }
//         &:active {
//          background: rgba(185, 12, 12, 0.80)        
//         }
//         a {
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         // z-index: 1;
//         }

        
//     }
// }
// .text_card_works {
//     text-align: center;
//     align-items: center;

    
// }

// .card_works_hall {
//     background-image: url(../img/icon_works/hall.jpg);
// } 
// .card_works_lanter {
//     background-image: url(../img/icon_works/lantern.jpg);
// }
// .card_works_dambldor {
//     background-image: url(../img/icon_works/dambldor.jpg);
// }
// .card_works_letters {
//     background-image: url(../img/icon_works/letters.jpg);
// }
// .card_works_pendant {
//     background-image: url(../img/icon_works/pendant.jpg);
// }
// .card_works_corridor {
//     background-image: url(../img/icon_works/corridor.jpg);
// }
// .card_works_train {
//     background-image: url(../img/icon_works/train.jpg);
// }
// .card_works_hermiona {
//     background-image: url(../img/icon_works/hermiona.jpg);
// }

// .wrapper_works {
//    display: grid;
//    grid-template-columns: repeat(4 1fr);
//    grid-template-rows: repeat(2 1fr);

// }

// a {
//     // width: 25%;
//     // max-height: 340px;
//     position: relative;
//     &:hover::before {
//      content: " ";
//      background: rgba(255, 67, 67, 0.60);
//      width: 100%;
//      height: 100%;
//      position: absolute;
//      left: 0;
//      top: 0;
//      z-index: 1; 
//     } 
//     &:active:before {
//      background: rgba(185, 12, 12, 0.80) 
//     }
//    }  

// .card_works {
//     border: 1px solid #fff;
//     overflow: hidden;
//     position: relative;
//     &::after{
//         content: "";
//         display: block;
//         // padding-top: 100%;
//         float: left;
//     }
//     .photo_works {
//         width: 50%;
//         max-height: 340px;
//         img {
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//             position: absolute;
//             top: 0;
//             left: 0;
//         }
//         }
// }


// // .text_card_works {
// //     position: absolute;
// //     top: 50%;
// //     left: 50%;
// //     // transform: translate(-50%, -50%);
// //     z-index: 2;
// //     // opacity: 0;
// //     // width: 100%;
// //     // padding: 123px 0;
    
// //     // &:hover {
// //     //     opacity: 10;
// //     // }
    
// // }
// .text_name {
//     color: #fff;
//     text-align: center;
//     font-family: "Raleway";
//     font-size: 24px;
//     font-style: normal;
//     font-weight: 900;
//     line-height: normal;
//     text-transform: uppercase;  
//     margin-bottom: 40px; 
// }

// .text_name_card {
//     color: #fff;
//     text-align: center;
//     font-family: "Raleway";
//     font-size: 18px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: normal;    
// }


// .hall {
//     grid-column: 1/2;
//     grid-row: 1/2;
// }
// .lantern {
//     grid-column: 2/3;
//     grid-row: 1/2;

// }
// .dambldor {
//     grid-column: 3/4;
//     grid-row: 1/2;
// }
// .letters {
//     grid-column: 4/5;
//     grid-row: 1/2;
// }
// .pendant {
//     grid-column: 1/2;
//     grid-row: 2/3;
// }
// .corridor {
//     grid-column: 2/3;
//     grid-row: 2/3;
// }
// .train {
//     grid-column: 3/4;
//     grid-row: 2/3;
// }
// .hermiona {
//     grid-column: 4/5;
//     grid-row: 2/3;
// }

// последняя рвбочфя версия

// .wrapper_works {
//     display: flex;
// }
// .wrapper_works_two {
//     display: flex;
// }
// .card_works {
// a {
//     width: 25%;
//     max-height: 340px;
//     position: relative;

//     &:hover::before {
//      content: " ";
//      background: rgba(255, 67, 67, 0.60);
//      width: 100%;
//      height: 100%;
//      position: absolute;
//      left: 0;
//      top: 0;
//      z-index: 1; 
//     } 
//     &:active:before {
//      background: rgba(185, 12, 12, 0.80) 
//     }
//    }     
// }
// .photo_works {
//     width: 379px;
//     height: 340px;
//     border: 1px solid #FFF;
//     img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//     }
// }
// .text_card_works {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 2;
//     opacity: 0;
//     width: 100%;
//     padding: 123px 0;
    
//     &:hover {
//      opacity: 10;
//     }
    
// }
// .text_name {
//     color: #FFF;
//     text-align: center;
//     font-family: "Raleway";
//     font-size: 24px;
//     font-style: normal;
//     font-weight: 900;
//     line-height: normal;
//     text-transform: uppercase;  
//     margin-bottom: 40px;  
//     @media (max-width: 1024px) {
//         font-size: 18px;
    
//     }
//     @media (max-width: 320px) {
//         font-size: 18px;
    
//     }
// }
// .text_name_card {
//     color: #FFF;
//     text-align: center;
//     font-family: "Raleway";
//     font-size: 18px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: normal;   
//     @media (max-width: 1024px) {
//         font-size: 14x;
    
//     }
//     @media (max-width: 320px) {
//         font-size: 14px;
    
//     } 
// }



.wrapper_works {
    display: flex;
}
.wrapper_works_two {
    display: flex;
}
.card_works {
    width: 25%;
    max-height: 340px;
   a {
    position: relative;
   }     
}
.photo_works {
    width: 100%;
    height: 340px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 1px solid #FFF;
    }
}
.text_card_works {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &:hover {
     opacity: 10;
     background: rgba(255, 67, 67, 0.60);
     &:active {
        opacity: 10;
        background: rgba(185, 12, 12, 0.80) 
    }
    }
}
.text_name {
    color: #FFF;
    text-align: center;
    font-family: "Raleway";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;  
    margin: 0 0 40px;  
    @media (max-width: 1024px) {
        font-size: 18px;
    }
    @media (max-width: 320px) {
        font-size: 18px;
    }
}
.text_name_card {
    color: #FFF;
    text-align: center;
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    margin: 0; 
    @media (max-width: 1024px) {
        font-size: 14x;
    }
    @media (max-width: 320px) {
        font-size: 14px;
    } 
}


